/* font-family: 'Montserrat', sans-serif;
font-family: 'Shrikhand', cursive;
font-family: 'Knewave', cursive;
font-family: 'Merriweather Sans', sans-serif;
font-family: 'Abel', sans-serif; */

header {
    display: flex;
    justify-content: space-around;
    border: solid #979797 .5px; 
    background-color: #979797;
    border-radius: 5px;
    margin: 2%
}

a {
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 27px;
    color: white;
}

main {
    border: solid black .5px;
    margin: 2%;
    /* display: flex;
    flex-direction: column;
    justify-content: space-evenly; */
}

p {
    font-family: 'Merriweather Sans', sans-serif;
    margin: 5% auto;
    font-size: 155%;
    line-height: 210%;
}

.withLove {
    font-family: 'Shrikhand', cursive;
}

footer, main > div {
    width: 75%;
    margin: 5% auto;
    text-align: center;
}

.tileTitleBoard {
    height: auto;
    width: 75%;
    border: solid black .5px;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 1%;
}

.tileTitle {
    height: 18%;
    width: 27%;
    margin: auto;
    border: solid black .5px; 
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 155%;
    line-height: 210%;
}

.shapeBoard {
    height: 45vh;
    width: 75%;
    border: solid black .5px;
    display: flex;
    justify-content: space-evenly;
    margin-top: 1%;
}

.shapeTile {
    height: 90%;
    width: 27%;
    margin: auto;
    border: solid black .5px;
}

.car2GoTitle {
    background-image: url("../images/car2go_image2.jpg");
    height: 18%;
    width: 27%;
    margin: auto;
    border: solid black .5px; 
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 155%;
    line-height: 210%;
}

